body{
    background-color:pink;
    padding:10% 20% 20% 20%;
}
fieldset{
    width:200px;
    text-align: center;
    color:red;
    font-size:20px;
    font-variant: small-caps;
}
.nav{
    text-align: center;
}
input[type=text]{
    color: blue;
    background-color: bisque;
    
}
.nav{
    position: absolute;
    padding: 20px 20px 20px 20px;

}